<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="testSection" type="IntegrationTest.TestSection, IntegrationTest, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <sectionGroup name="CN100SectionGroup" type="System.Configuration.ConfigurationSectionGroup, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
      <section name="wcfSection" type="CN100.EnterprisePlatform.Configuration.WcfSection, CN100.EnterprisePlatform.Configuration" />
    </sectionGroup>
  </configSections>
  <testSection xmlns="urn:IntegrationTest">
    <cases>
      <!--<add name="Product" type="IntegrationTest.MultiUrlTest,IntegrationTest" count="100000" maxThread="10" runTime="30" sleep="1" units="40">
        <counters>
          <add name="0-20" from="0" to="20" />
          <add name="20-50" from="20" to="50" />
          <add name="50-100" from="50" to="100" />
          <add name="100-200" from="100" to="200" />
          <add name="200-400" from="200" to="400" />
          <add name="400-800" from="400" to="800" />
          <add name="800-1600" from="800" to="1600" />
          <add name="1600-99999" from="1600" to="99999" />
        </counters>
        <params>
          <param name="Threads" value="3" />
          <param name="URLFile" value="product.txt" />
          <param name="ProxyHost" value="" />
        </params>
      </add>
      <add name="search" type="IntegrationTest.MultiUrlTest,IntegrationTest" count="100000" maxThread="10" runTime="30" sleep="1" units="40">
        <counters>
          <add name="0-20" from="0" to="20" />
          <add name="20-50" from="20" to="50" />
          <add name="50-100" from="50" to="100" />
          <add name="100-200" from="100" to="200" />
          <add name="200-400" from="200" to="400" />
          <add name="400-800" from="400" to="800" />
          <add name="800-1600" from="800" to="1600" />
          <add name="1600-99999" from="1600" to="99999" />
        </counters>
        <params>
          <param name="Threads" value="3" />
          <param name="URLFile" value="search.txt" />
          <param name="ProxyHost" value="" />
        </params>
      </add>
      <add name="home" type="IntegrationTest.MultiUrlTest,IntegrationTest" count="100000" maxThread="10" runTime="30" sleep="1" units="40">
        <counters>
          <add name="0-20" from="0" to="20" />
          <add name="20-50" from="20" to="50" />
          <add name="50-100" from="50" to="100" />
          <add name="100-200" from="100" to="200" />
          <add name="200-400" from="200" to="400" />
          <add name="400-800" from="400" to="800" />
          <add name="800-1600" from="800" to="1600" />
          <add name="1600-99999" from="1600" to="99999" />
        </counters>
        <params>
          <param name="Threads" value="3" />
          <param name="URLFile" value="cm100.txt" />
          <param name="ProxyHost" value="" />
        </params>
      </add>-->
      <!--下单测试-->
      <!--<add name="OrdersTest"  type="IntegrationTest.App.OrdersTest,IntegrationTest.App" count="100000" maxThread="5" runTime="30" sleep="50" units="40">
				<counters>
					<add name="0-20" from="0" to="20"/>
					<add name="20-50" from="20" to="50"/>
					<add name="50-100" from="50" to="100"/>
					<add name="100-200" from="100" to="200"/>
					<add name="200-400" from="200" to="400"/>
					<add name="400-800" from="400" to="800"/>
					<add name="800-1600" from="800" to="1600"/>
					<add name="1600-99999" from="1600" to="99999"/>
				</counters>
			</add>-->
      <!--订单列表测试-->
      <!--<add name="OrderListTest" type="IntegrationTest.App.OrderListTest,IntegrationTest.App" count="100000" maxThread="5" runTime="30" sleep="25" units="5">
        <counters>
          <add name="0-20" from="0" to="20" />
          <add name="20-50" from="20" to="50" />
          <add name="50-100" from="50" to="100" />
          <add name="100-200" from="100" to="200" />
          <add name="200-400" from="200" to="400" />
          <add name="400-800" from="400" to="800" />
          <add name="800-1600" from="800" to="1600" />
          <add name="1600-99999" from="1600" to="99999" />
        </counters>
      </add>-->
      <!--<add name="LoginTest" type="IntegrationTest.App.LoginTest,IntegrationTest.App" count="10" maxThread="5" runTime="1" sleep="25" units="5">
        <counters>
          <add name="0-20" from="0" to="20" />
          <add name="20-50" from="20" to="50" />
          <add name="50-100" from="50" to="100" />
          <add name="100-200" from="100" to="200" />
          <add name="200-400" from="200" to="400" />
          <add name="400-800" from="400" to="800" />
          <add name="800-1600" from="800" to="1600" />
          <add name="1600-99999" from="1600" to="99999" />
        </counters>
      </add>

		<add name="RegisterTest" type="IntegrationTest.App.RegisterTest,IntegrationTest.App" count="10" maxThread="5" runTime="1" sleep="25" units="5">
			<counters>
				<add name="0-20" from="0" to="20" />
				<add name="20-50" from="20" to="50" />
				<add name="50-100" from="50" to="100" />
				<add name="100-200" from="100" to="200" />
				<add name="200-400" from="200" to="400" />
				<add name="400-800" from="400" to="800" />
				<add name="800-1600" from="800" to="1600" />
				<add name="1600-99999" from="1600" to="99999" />
			</counters>
		</add>-->
       <add name="163" type="IntegrationTest.UrlTest,IntegrationTest" count="1000" maxThread="5" runTime="30" sleep="1" units="20">
        <counters>
          <add name="0-20" from="0" to="20"/>
          <add name="20-50" from="20" to="50"/>
          <add name="50-100" from="50" to="100"/>
          <add name="100-200" from="100" to="200"/>
          <add name="200-400" from="200" to="400"/>
          <add name="400-800" from="400" to="800"/>
          <add name="800-1600" from="800" to="1600"/>
          <add name="1600-99999" from="1600" to="99999"/>
        </counters>
        <params>
          <param name="URL" value="http://192.168.0.108/"/>
          <param name="ProxyHost" value=""/>
        </params>
      </add>
        <add name="ikende" type="IntegrationTest.UrlTest,IntegrationTest" count="1000" maxThread="5" runTime="30" sleep="1" units="20">
        <counters>
          <add name="0-20" from="0" to="20"/>
          <add name="20-50" from="20" to="50"/>
          <add name="50-100" from="50" to="100"/>
          <add name="100-200" from="100" to="200"/>
          <add name="200-400" from="200" to="400"/>
          <add name="400-800" from="400" to="800"/>
          <add name="800-1600" from="800" to="1600"/>
          <add name="1600-99999" from="1600" to="99999"/>
        </counters>
        <params>
          <param name="URL" value="http://www.ikende.com/"/>
          <param name="ProxyHost" value="http://192.168.0.176:990"/>
        </params>
      </add> 
      <!---->
    </cases>
  </testSection>
  <connectionStrings>
    <add name="connStr" connectionString="Data Source=192;User Id=sales_curd;Password=cn100;" />
  </connectionStrings>
  <appSettings>
    <!--0插入购物车数据，1执行卖家测试，2执行买家测试-->
    <add key="Test" value="1" />
    <!--OrderStatus;子订单状态，1：默认值，买家已下单，等待买家付款；2：买家已付款，等待商家发货；3：商家已发货，等待买家确认收货；4：买家已确认收货，交易成功；5：交易关闭-->
    <add key="type" value="1" />
    <!--线程数-->
    <add key="ThreadNum" value="5" />
    <!--查询数，与测试一致-->
    <add key="runCount" value="100000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <CN100SectionGroup>
    <wcfSection>
      <hosts>
        <!--<host name="Orders" ip="127.0.0.1" port="9874" />-->
        <host name="Orders" ip="192.168.0.99" port="8004" />
        <host name="Member" ip="192.168.0.99" port="8001" />
      </hosts>
    </wcfSection>
  </CN100SectionGroup>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
    <connectionManagement>
      <add address="*" maxconnection="1000" />
    </connectionManagement>
  </system.net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>