<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="testSection" type="IntegrationTest.TestSection, IntegrationTest, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <testSection xmlns="urn:IntegrationTest">
    <cases>
      <add type="IntegrationTest.App.TestDemo,IntegrationTest.App" count="10000" maxThread="5" runTime="30" sleep="25" units="5">
        <counters>
          <add name="0-10" from="0" to="10"/>
          <add name="10-40" from="10" to="40"/>
          <add name="40-99999" from="40" to="99999"/>
        </counters>
      </add>
    </cases>
  </testSection>
</configuration>