<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="testSection" type="IntegrationTest.TestSection, IntegrationTest"/>
  </configSections>
  <testSection xmlns="urn:IntegrationTest">
    <cases>
      <!--
      <add name="163" type="IntegrationTest.MultiUrlTest,IntegrationTest" count="0" maxThread="5" runTime="2" sleep="10" units="80">
        <counters>
          <add name="0-20" from="0" to="20"/>
          <add name="20-50" from="20" to="50"/>
          <add name="50-100" from="50" to="100"/>
          <add name="100-200" from="100" to="200"/>
          <add name="200-400" from="200" to="400"/>
          <add name="400-800" from="400" to="800"/>
          <add name="800-1600" from="800" to="1600"/>
          <add name="1600-99999" from="1600" to="99999"/>
        </counters>
        <params>
          <param name="Threads" value="1"/>
          <param name="URLFile" value="default.txt"/>
          <param name="ProxyHost" value="http://192.168.0.176:990"/>
        </params>
      </add>
     <add name="cnblog" type="IntegrationTest.MultiUrlTest,IntegrationTest" count="0" maxThread="5" runTime="2" sleep="10" units="80">
        <counters>
          <add name="0-20" from="0" to="20"/>
          <add name="20-50" from="20" to="50"/>
          <add name="50-100" from="50" to="100"/>
          <add name="100-200" from="100" to="200"/>
          <add name="200-400" from="200" to="400"/>
          <add name="400-800" from="400" to="800"/>
          <add name="800-1600" from="800" to="1600"/>
          <add name="1600-99999" from="1600" to="99999"/>
        </counters>
        <params>
          <param name="Threads" value="1"/>
          <param name="URLFile" value="cnblog.txt"/>
          <param name="ProxyHost" value="http://192.168.0.176:990"/>
        </params>
      </add>
      -->
      <add name="108" type="IntegrationTest.MultiUrlTest,IntegrationTest" count="0" maxThread="20" runTime="2" sleep="2" units="80">
        <counters>
          <add name="0-20" from="0" to="20"/>
          <add name="20-50" from="20" to="50"/>
          <add name="50-100" from="50" to="100"/>
          <add name="100-200" from="100" to="200"/>
          <add name="200-400" from="200" to="400"/>
          <add name="400-800" from="400" to="800"/>
          <add name="800-1600" from="800" to="1600"/>
          <add name="1600-99999" from="1600" to="99999"/>
        </counters>
        <params>
           <param name="Threads" value="2"/>
          <param name="URLFile" value="urls.txt"/>
          <param name="ProxyHost" value=""/>
        </params>
      </add>
    </cases>
  </testSection>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
    <connectionManagement>
      <add address = "*" maxconnection = "1000" />
    </connectionManagement>
  </system.net>
</configuration>